body { 
  background-color:  rgb(0,0,0); 
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-image: url('/img/trees_night_starry_sky_146805_3840x2400.jpg');
  color: white;
  font: 300 1em Ubuntu;
}
h2 { font-size: 120%; font-weight: normal; margin-bottom: 0;}
h3 { color: rgb(151,151,151); font-size: 0.9em; font-weight: normal; margin-top: 0; }

.header {
  line-height: 2em;
}
.box {
  background-color: rgba(24, 31, 52, 0.7);
  /*background-color: rgba(0,0,0,0.5);*/
  padding: 20px 20px 20px 20px;
  margin: 20px auto 20px auto;
  border-radius: 5px;
}

.forecastTable td {
  padding: 1% 2% 1% 1%;
  width: 15%;
}
.forecastTable .time-col { padding-right: 10%; color: rgb(151,151,151); width: 15%; }
.forecastTable .temperature-col {  font-size: 1.5em;}
.rainBox { height: 20px; background-color: rgba(0, 182, 255, 0.5); display: inline-block; overflow: hidden;}


.recharts-text { color: rgb(151,151,151); }

.temperatureNow { font-size: 400%; line-height: 1.5em;}

.wind-container {
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  color: black;
  vertical-align: center;
}
.wind-text { 
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-weight: 500;
  font-size: 1em;
  position: absolute;   
  top: 45%;
  left: 45%;
  transform: translate(-45%, -45%);
}

.weatherTable td { padding-right: 10%; white-space: nowrap; }

#calendardata h3 { font-size: 110%; color: #999999; text-transform: uppercase; margin-top: 20px; }
.calendarBox { background-color: rgba(120, 120, 120, 0.1); border-left: solid 5px yellow; padding: 8px 8px 8px 8px; margin-bottom: 10px;}
.lowPrio { border-color: rgba(255,255,0, 0.4); background-color: rgba(120, 120, 120, 0.05); color: rgba(255,255,255,0.7);}
.eventTitle { font-size: 110%; font-weight: 400; margin-bottom: 5px; padding-top: 10px; padding-bottom: 10px;}
.eventTime { font-size: 95%; color: #adadad; float: right;}
.dot {
  margin-left: 15px;
  height: 8px;
  width: 8px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.elise { background-color: turquoise;}
.elias { background-color: blue;}
.ella { background-color: pink;}
.aiti { background-color: red;}
.iska { background-color: deepskyblue;}

.timeBox {   width: 200px;
  height: 100px;
  display: flex;
  align-items: center;}
.time { font-size: 4em; line-height: 1em;}
.date {padding-left: 5px; opacity: 0.7;}

#indoor {position: relative; height: 150px; }
#indoor:before {
  position: absolute;
  font-family: 'FontAwesome';
  font-size:130px;
  top: 35px;
  left: 20px;
  color:#fff;
  opacity:.1;
  }
#indoor:before { content: "\f015"; }
.indoorTemp {position: absolute; top: 30px; left: 70px; font-size: 150%; line-height: 2.5em;}
.indoorUpdated {position: absolute; top: 100px; left: 0; color: rgba(151,151,151, 0.5); font-size: 0.7em;}
