body { 
  background-color:  rgb(0,0,0); 
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-image: url('/img/trees_night_starry_sky_146805_3840x2400.jpg');
  color: white;
  font: 300 1em Ubuntu;
}
h2 { font-size: 120%; color: rgb(206, 206, 206); font-weight: lighter; margin-bottom: 0; margin-top: 5px;}
h3 { color: rgb(151,151,151); font-size: 0.9em; font-weight: normal; margin-top: 0; }

.header {
  line-height: 2em;
}
.box {
  background-color: rgba(24, 31, 52, 0.7);
  /*background-color: rgba(0,0,0,0.5);*/
  padding: 10px 20px 5px 20px;
  margin: 20px auto 5px auto;
  border-radius: 5px;
}

.forecastTable td {
  padding: 1% 2% 1% 1%;
  width: 15%;
}
.forecastTable .time-col { padding-right: 10%; color: rgb(151,151,151); width: 15%; }
.forecastTable .temperature-col {  font-size: 1.5em;}
.rainBox { height: 20px; background-color: rgba(0, 182, 255, 0.5); display: inline-block; overflow: hidden;}


.recharts-text { color: rgb(151,151,151); }

.temperatureNow { font-size: 400%; line-height: 1.6em; text-align: center; margin-bottom: 0;}

.wind-container {
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  color: black;
  vertical-align: center;
}
.wind-text { 
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-weight: 500;
  font-size: 1em;
  position: absolute;   
  top: 45%;
  left: 45%;
  transform: translate(-45%, -45%);
}

.weatherTable td { padding-right: 10%; white-space: nowrap; }

#calendardata h3 { font-size: 110%; color: #999999; text-transform: uppercase; margin-top: 20px; }
.calendarBox { background-color: rgba(120, 120, 120, 0.1); border-left: solid 5px yellow; padding: 8px 8px 8px 8px; margin-bottom: 10px;}
.lowPrio { border-color: rgba(255,255,0, 0.4); background-color: rgba(120, 120, 120, 0.05); color: rgba(255,255,255,0.7);}
.eventTitle { font-size: 110%; font-weight: 400; margin-bottom: 5px; padding-top: 10px; padding-bottom: 10px;}
.eventTime { font-size: 95%; color: #adadad; float: right;}
.dot {
  margin-left: 15px;
  height: 8px;
  width: 8px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.elise { background-color: turquoise;}
.elias { background-color: blue;}
.ella { background-color: pink;}
.aiti { background-color: red;}
.iska { background-color: deepskyblue;}

.timeBox {   
  height: 100px;
  display: flex;
  align-items: center;}
.time { font-size: 4em; line-height: 1em; margin-top: 5px; width:100%}
.date {padding-left: 5px; opacity: 0.7;}

#indoor {position: relative; height: 110px; }
#indoor:before {
  position: absolute;
  opacity:.1;
  }
#indoor:before { content: ""; 
  background: url("/img/house.svg");
  background-repeat: no-repeat; 
  width: 150px;
  height: 130px;}
.indoorTemp {position: absolute; top: 25px; left: 50px; font-size: 150%; line-height: 2.5em;}
.indoorUpdated {position: absolute; top: 70px; left: 50px; color: rgba(151,151,151, 0.5); font-size: 0.7em; margin-bottom: 0;}

.balconyTemp {padding-top: 30px; margin-bottom: 0; }
.balconyUpdated {margin-top:0; line-height: 1em; color: rgba(151,151,151, 0.5);font-size: 0.7em;}

#cabinBookings {
  border-radius: 0px;
  color: #000000;
  width: 150px; text-align: center;
  cursor: pointer;
}
#cabinBookings h2 {  font-size: 15px; font-style: italic; }
.bookingsUpdated { line-height: 1em; margin-top: 3px; color: rgba(151,151,151, 0.5); font-size: 0.7em;}
.bookingsTable { display: inline-block; margin: 0 auto; background-color: rgba(120, 120, 120, 0.1); padding: 10px 5px 5px 5px; }
.bookingWeekRow { display: grid;  grid-template-columns: 14px 14px 14px 14px 14px 14px 14px 14px; column-gap: 4px; row-gap: 0px;}
.bookingWeekRow.noWeek {grid-template-columns: 0px 14px 14px 14px 14px 14px 14px 14px; }
.bookingBox { width: 14px; height: 14px; line-height: 10px; padding: 2px; margin: 2px; font-size: 9px; color:rgb(213, 213, 213); text-align: center;}
.bookingBox.weekNumber { grid-column-start: 1; color:rgba(151, 128, 179, 0.9); font-weight: bold; } 
.bookingBox.day1 { grid-column-start: 2;} 
.bookingBox.day2 { grid-column-start: 3;} 
.bookingBox.day3 { grid-column-start: 4;} 
.bookingBox.day4 { grid-column-start: 5;} 
.bookingBox.day5 { grid-column-start: 6;} 
.bookingBox.day6 { grid-column-start: 7;} 
.bookingBox.day0 { grid-column-start: 8;} 
.bookingBox.booked { background-color:rgba(255, 255, 255, 0.7); color:rgba(74, 1, 164, 0.9); font-weight: bold;}

.updatedOver24h { color:#ff3e3e; font-weight: bold; } 

.modal-content { 
  background-color:  rgba(0,0,0,0.8); 
}
.modal-header { 
  background-color:  rgba(15, 21, 36, 0.8); 
  border-bottom-width: 0;
}
.modal-title { font-size: 120%; color: rgb(206, 206, 206); font-weight: lighter; margin-bottom: 0;}
.modal-body { 
  background-color:  rgba(15, 21, 36, 0.8); 
}
.close { font-weight: normal; color: white; opacity: 0.8; text-shadow: none;}
.bookingsMonth { display: inline-block; vertical-align: top; margin: 3px 3px 3px 3px; }
.bookingsMonthTitle { margin-bottom: 5px;}
